*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color: black;
}


h1{
  color: aquamarine;
}

h2{
  color:white;
}

button[type="submit"]{
  background-color: white;
  color: black;
}


.sucesso{
  color: #0a840a;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #7be87b;
  text-align: center;
  border: 2px solid #0a840a;
}

.erro{
  color: #ff0000;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #fb9898;
  text-align: center;
  border: 2px solid #ff0000;
}

label[for="idEmail"] {
  color: white;
}
label[for="idCpf"]{
  color: white;
}

input::placeholder {
  color: white;
}

label[for="idSenha"] {
  color: white;
}

label[for="idLembrar"] {
  color: white;
}

#idEmail,
#idSenha,
#idCpf,
#idLembrar {
    color: white;
}

legend{
  color: white;
}

input[type=text]:invalid{
border: 2px solid red;
outline:none;
}


input[type=text]:valid{
  border: 2px solid green;
  outline: none;
  }